header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--color-100);
  padding: var(--padding-200);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: animationHeader 0.5s forwards;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-300);
}

ul > li {
  border-radius: 10px;
  padding: var(--padding-150);
  align-items: center;
}

ul > li:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(141, 141, 141, 0.5);
}

.inicio {
  background-color: var(--color-400);
  color: var(--color-100);
  border: 2px solid var(--color-400);
  border-radius: 30px;
}

.search-word {
  width: 50%;
  background-color: var(--color-200);
  border-radius: 30px;
  padding-left: var(--padding-150);
  cursor: pointer;
}

.search {
  height: 40px;
  width: 95%;
  background-color: var(--color-200);
  border: none;
  border-radius: 30px;
}

img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
